!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Yasa!!!ショッピング
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
  %body
    = render 'layouts/notifications'
  -# ヘッダー始まり
  %header.header
    =link_to root_path, class: "header__link" do
      .header__link__logo
        %h1
          Yasa!!!
          %span ショッピング
    .header__list
      .header__list__search
        -# %i fontawesome
      -# %h3.header__name
      -#   = current_user.name
      - if user_signed_in?
        .header__list__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__list__logout__link"
        .header__list__edit
          = link_to "アカウント編集", edit_user_path(current_user), class: "header__list__edit__link"
      - else
        .header__list__new
          = link_to "新規登録", new_user_registration_path, class: "header__list__new__link"
        .header__list__login
          = link_to "ログイン", user_session_path, method: :post, class: "header__list__login__link"
          
      
  -# ヘッダーの終わり
  = yield
  %footer.footer
    %p 会社概要
    
